<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Btest</title>
</head>
<body>
    <h1>Hello</h1>
    <p id="testOut">Nothing yet</p>
    <button id="testBtn" onclick="connectBike(1)">Connect d1</button>
    <button id="testBtn2" onclick="connectBike(2)">Connect d2</button>
    <button id="testBtn3" onclick="testConnectBtn()">Test connect</button>
    <button id="startBtn" onclick="start()">Start</button>
    <div></div>
    <div id="div test" style="display:none">
        <button id="Btn1" style="display:block">Easy - Light Bulbs</button>
        <button id="Btn2" style="display: block">Hard - Toasting Bread</button>
        <button id="Btn3" style="display: block">Impossible - Boiling A Kettle</button>
    </div>
    <div id="divInstr" style="display:none">

        <p>test</p>

    </div>
    <div id="bulbs" style="display: none">

        <img id ="1led"src="images/LED.PNG" alt="led" />


    </div>

</body>

</html>
<script type="text/javascript">
    var lvlselected = 0;
    var noBikes = 1;
    var modeSelected = 0;
    const delay = ms => new Promise(res => setTimeout(res, ms));
    var inGame = false;
    var curBulbs = 1;
    
    class BLEDevice {

        device;

        async deviceDetails(BikeNo) {

            await navigator.bluetooth.requestDevice({
                /*acceptAllDevices: true*/
                filters: [{ services: ['00001818-0000-1000-8000-00805f9b34fb'] }], optionalServices: ['battery_service']
            })
                .then(device => {
                    this.device = device;
                    return this.device.gatt.connect();
                })
                .then(server => {
                    // Getting service
                    console.info("getting service")
                    return server.getPrimaryService('00001818-0000-1000-8000-00805f9b34fb');
                }).then(service => {
                    // Getting Characteristic…
                    console.info("getting characteristic")
                    return service.getCharacteristic('00002a63-0000-1000-8000-00805f9b34fb');
                }).then(characteristic => characteristic.startNotifications())
                .then(characteristic => {
                    // Set up event listener for when characteristic value changes.
                    console.info("setting up listener")
                    characteristic.addEventListener('characteristicvaluechanged',
                        function () {
                            testchange(event, BikeNo);});
                    // Reading value
                    console.info("Reading value")
                    //return characteristic.readValue();
                }).catch(error => { console.error(error); });
            console.info("Done")

        }

        /*constructor(inDevice) {

            this.device = inDevice;
        }*/

        async startConnection(BikeNo) {

            console.info(device);
            await this.device.gatt.connect()
                .then(reserver => {
                    console.info(reserver);
                    console.info("getting service");
                    return reserver.getPrimaryService('00001818-0000-1000-8000-00805f9b34fb');
                }).then(service => {
                // Getting Characteristic…
                console.info(service)
                return service.getCharacteristic('00002a63-0000-1000-8000-00805f9b34fb');
            }).then(characteristic => characteristic.startNotifications())
            .then(characteristic => {
                // Set up event listener for when characteristic value changes.
                console.info("setting up listener")

                characteristic.addEventListener('characteristicvaluechanged',
                    function () {
                        testchange(event, BikeNo);
                    });

                // Reading value
                console.info("Reading value")
                //return characteristic.readValue();
            }).catch(error => { console.error(error); });
            console.info("Done");

        }

        delay(n) {
            return new Promise(function (resolve) {
                setTimeout(resolve, n * 1000);
            });
        }

        async disConnectDevice() {

            await gattDisconnect(this.device);
        }

        connectionDetails() {

            return isConnected(this.device);

        }

    }

    const device = new BLEDevice();
    const device2 = new BLEDevice();


    async function connectBike(BikeNo){

        if (BikeNo == 1) {

            await device.deviceDetails(BikeNo);
            console.info(typeof device)
            //console.info(device);
            console.info(device.connectionDetails());

        } else {

            await device2.deviceDetails(BikeNo);
            console.info(typeof device2)
            //console.info(device);
            console.info(device2.connectionDetails());

        }

        let btn = document.createElement("button");
        btn.innerHTML = "Reconect Bike " + BikeNo.toString();
        btn.type = "submit";
        btn.name = "formBtn";
        if (BikeNo == 1) {

            btn.onclick = function () {

                device.startConnection(1);

            };
        } else {


            btn.onclick = function () {

                device2.startConnection(2);

            };

        };
        document.body.appendChild(btn);

    }

    async function connectFunc2() {
        await device2.deviceDetails(2);
        console.info(typeof device2)
        //console.info(device);
        console.info(device2.connectionDetails());

        let btn = document.createElement("button");
        btn.innerHTML = "Reconect Bike 2";
        btn.type = "submit";
        btn.name = "formBtn";
        btn.onclick = function () {

            device.startConnection(2);

        };
        document.body.appendChild(btn);


    }

    function start() {

        document.getElementById("div test").style.display = "block";

        for (i = 1; i < 4; i++) {

            btnId = "Btn" + i.toString();
            console.info(btnId);
            document.getElementById(btnId).style.display = "block";

        }

        document.getElementById("Btn1").innerHTML = "Easy - Light Bulbs";
        document.getElementById("Btn2").innerHTML = "Hard - Toasting Bread";
        document.getElementById("Btn3").innerHTML = "Impossible - Boiling A Kettle";

        document.getElementById("Btn1").onclick = function () {
            lvlselected = 1;
            
            console.info("Selected: 1");
            selectBikes();
        };
        document.getElementById("Btn2").onclick = function () {
            lvlselected = 2;
            console.info("Selected: 2");
            selectBikes();
        };
        document.getElementById("Btn3").onclick = function () {
            lvlselected = 3;
            console.info("Selected: 3");
            selectBikes();
        };
    }

    function selectBikes() {

        document.getElementById("Btn3").style.display = "none";

        for (i = 1; i < 3; i++) {

            btnId = "Btn" + i.toString();
            console.info(btnId);
            document.getElementById(btnId).style.display = "inline";

        }

        document.getElementById("Btn1").innerHTML = "1";
        document.getElementById("Btn2").innerHTML = "2";

        document.getElementById("Btn1").onclick = function () {
            noBikes = 1;
            modeSelected = 0;
            console.info("Selected bikes: 1");
            startGame();

        };
        document.getElementById("Btn2").onclick = function () {
            noBikes = 2;
            console.info("Selected bikes: 2");
            selectMode();
        };
    };

    function selectMode() {

        for (i = 1; i < 4; i++) {

            btnId = "Btn" + i.toString();
            console.info(btnId);
            document.getElementById(btnId).style.display = "block";

        }

        document.getElementById("Btn1").innerHTML = "Co-operative";
        document.getElementById("Btn2").innerHTML = "Competitive";
        document.getElementById("Btn3").innerHTML = "Co-opetition - Same goals but competitive";

        document.getElementById("Btn1").onclick = function () {
            modeSelected = 1;

            console.info("Selected: co-op");
            dispInstructions();

        };
        document.getElementById("Btn2").onclick = function () {
            modeSelected = 2;

            console.info("Selected: comp");
        };
        document.getElementById("Btn3").onclick = function () {
            modeSelected = 3;

            console.info("Selected: co-opetition");
        };

    }



    function startGame() {

        console.info("test");
        document.getElementById("bulbs").style.display = "block";
        inGame = true;


    }

    function dispInstructions() {

        document.getElementById("div test").style.display = "none";
        document.getElementById("divInstr").style.display = "block";

    }

    function testchange(event, bikeNo) {
        console.info("pwr event")
        //const testvalue = event.target.value.getUint8(0);
        power = event.target.value.getInt8(2);
        console.info('Power is ' + event.target.value.getInt8(2));
        if (inGame) {

            bulbs = Math.ceil(power / 6);

            if (curBulbs < bulbs) {

                var newBulbs = bulbs - curBulbs;

                for (i = 0; i < newBulbs; i++) {

                    let newLed = document.createElement("img");
                    newLed.id = i.toString() + "led";
                    newLed.src = "images/LED.PNG";
                    document.getElementById("bulbs").appendChild(newLed);

                }

                curBulbs = bulbs;

            }

        }
    }

    

    async function testConnectBtn() {
        console.info("D1");
        console.info(device.connectionDetails());
        console.info("D2");
        console.info(device2.connectionDetails());
    }


    function isConnected(device) {
        //if (!exists(device.gatt)) return false;
        return device.gatt.connected;
    }

    async function getDevice(){

        return navigator.bluetooth.requestDevice({
            /*acceptAllDevices: true*/
            filters: [{ services: ['00001818-0000-1000-8000-00805f9b34fb'] }], optionalServices: ['battery_service']
        });
        
    }
    async function gattConnect(device) {

        const server = await device.gatt.connect();
        return server;
    }
    async function gattDisconnect(device) {
        const self = this;
        return await device.gatt.disconnect();
    }
    /*hasService(device, uuid) {
        let res = false;
        for (let service of device.services) {
            if (service.uuid === uuid) res = true;
        }
        return res;
    }*/
    async function getPrimaryServices(server) {
        const self = this;
        const services = await server.getPrimaryServices('00001818-0000-1000-8000-00805f9b34fb');
        return services;
    }

    function getMethods(obj) {
        var result = [];
        for (var id in obj) {
            try {
                if (typeof (obj[id]) == "function") {
                    result.push(id + ": " + obj[id].toString());
                }
            } catch (err) {
                result.push(id + ": inaccessible");
            }
        }
        return result;
    }

</script>