<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Btest</title>
</head>
{% load static %}
<body>
    <h1>Hello</h1>
    <p id="testOut">Nothing yet</p>
    <button id="testBtn" onclick="connectBike(1)">Connect d1</button>
    <button id="testBtn2" onclick="connectBike(2)">Connect d2</button>
    <button id="testBtn3" onclick="testConnectBtn()">Test connect</button>
    <button id="startBtn" onclick="start()">Start</button>
    <button id="DisconnectBtn" onclick="btnDisconnect(1)">Disconnect Bike 1</button>
    <button id="DisconnectBtn" onclick="btnDisconnect(2)">Disconnect Bike 2</button>
    <div id="ReconnectArea"></div>
    <div id="div test" style="display:none">
        <button id="Btn1" style="display:block">Easy - Light Bulbs</button>
        <button id="Btn2" style="display: block">Hard - Toasting Bread</button>
        <button id="Btn3" style="display: block">Impossible - Boiling A Kettle</button>
    </div>
    <div id="divInstr" style="display:none">

        <p>test</p>

    </div>
    <div id="bulbs" style="display: none">

        <p id="bulbDescription">How many LED bulbs can you power for 30 seconds?</p>
        <p id="timer"></p>
        <p id="bulbFacts" style="display:none">It takes between 5 and 7 times the ammount of power to power filiment light bulbs compared to their LED equivilent.
        Save the environment switch to LED bulbs.</p>
        <!--<img id="0led" src="{% static 'images/LED.PNG'%}" alt="led" />-->



    </div>

</body>

</html>
<script type="text/javascript">
    // Global variables here to be used in game
    var lvlselected = 0;
    var noBikes = 1;
    var modeSelected = 0;
    var inGame = false;
    var curBulbs = 0;
    var bike1pwr = 0;
    var bike2pwr = 0;
    var timeExp;
    var bulbPhase = 0;
    var ledBulbs = 0;
    var filBulbs = 0;

    //Class for the bikes
    class BLEDevice {

        device;

        async deviceDetails(BikeNo) {

            await navigator.bluetooth.requestDevice({
                /*acceptAllDevices: true*/
                filters: [{ services: ['00001818-0000-1000-8000-00805f9b34fb'] }], optionalServices: ['battery_service']
            })
                .then(device => {
                    this.device = device;
                    return this.device.gatt.connect();
                })
                .then(server => {
                    // Getting service
                    console.info("getting service")
                    return server.getPrimaryService('00001818-0000-1000-8000-00805f9b34fb');
                }).then(service => {
                    // Getting Characteristic…
                    console.info("getting characteristic")
                    return service.getCharacteristic('00002a63-0000-1000-8000-00805f9b34fb');
                }).then(characteristic => characteristic.startNotifications())
                .then(characteristic => {
                    // Set up event listener for when characteristic value changes.
                    console.info("setting up listener")
                    characteristic.addEventListener('characteristicvaluechanged',
                        function () {
                            testchange(event, BikeNo);});
                    // Reading value
                    console.info("Reading value")
                    //return characteristic.readValue();
                }).catch(error => { console.error(error); });
            console.info("Done")

        }

        async startConnection(BikeNo) {

            console.info(device);
            await this.device.gatt.connect()
                .then(reserver => {
                    console.info(reserver);
                    console.info("getting service");
                    return reserver.getPrimaryService('00001818-0000-1000-8000-00805f9b34fb');
                }).then(service => {
                // Getting Characteristic…
                console.info(service)
                return service.getCharacteristic('00002a63-0000-1000-8000-00805f9b34fb');
            }).then(characteristic => characteristic.startNotifications())
            .then(characteristic => {
                // Set up event listener for when characteristic value changes.
                console.info("setting up listener")

                characteristic.addEventListener('characteristicvaluechanged',
                    function () {
                        testchange(event, BikeNo);
                    });

                // Reading value
                console.info("Reading value")
                //return characteristic.readValue();
            }).catch(error => { console.error(error); });
            console.info("Done");

        }

        async disConnectDevice() {

            await this.device.gatt.disconnect();
        }

        connectionDetails() {

            return this.device.gatt.connected;

        }

    }

    //Global variables to store details for both bikes as objects
    const device = new BLEDevice();
    const device2 = new BLEDevice();

    // Code for connection buttons goes here
    async function connectBike(BikeNo){

        if (BikeNo == 1) {

            await device.deviceDetails(BikeNo);
            console.info(typeof device)
            //console.info(device);
            console.info(device.connectionDetails());

        } else {

            await device2.deviceDetails(BikeNo);
            console.info(typeof device2)
            //console.info(device);
            console.info(device2.connectionDetails());

        }

        if (!document.getElementById("reconnectBike" + BikeNo.toString())) {

            let btn = document.createElement("button");
            btn.innerHTML = "Reconect Bike " + BikeNo.toString();
            btn.type = "submit";
            btn.name = "formBtn";
            btn.id = "reconnectBike" + BikeNo.toString();
            if (BikeNo == 1) {

                btn.onclick = function () {

                    device.startConnection(1);

                };
            } else {


                btn.onclick = function () {

                    device2.startConnection(2);

                };

            };
            document.getElementById("ReconnectArea").appendChild(btn);

        };

    }


    async function testConnectBtn() {
        console.info("D1");
        console.info(device.connectionDetails());
        console.info("D2");
        console.info(device2.connectionDetails());
    }


    async function btnDisconnect(BikeNo) {

        if (BikeNo == 1) {

            await device.disConnectDevice();

            console.info("disconnected bike 1");

        } else {

            await device2.disConnectDevice();

            console.info("disconnected bike 2");

        };

    }

    //Event handler for recieving gatt notifications and running of games
    function testchange(event, bikeNo) {
        console.info("pwr event")
        //const testvalue = event.target.value.getUint8(0);
        power = event.target.value.getInt8(2);
        console.info('Power is ' + event.target.value.getInt8(2));
        if (bikeNo == 1) {

            bike1pwr = power;

        } else {

            bike2pwr = power;

        };

        if (inGame) {

            //mode sected value of 1 indicates bulbs
            if (lvlselected == 1) {

                if (modeSelected == 0) {

                    soloCoopBulb(power);

                } else if (modeSelected == 1) {

                    soloCoopBulb(bike2pwr + bike1pwr);

                } else if (modeSelected == 2) {

                    compBulb(bikeNo, power);

                } else if (modeSelected == 3) {

                    coopetBulb(bikeNo, power);

                };

                //Level selected value of 2 is toaster game
            } else if (lvlselected == 2) {

                if (modeSelected == 0) {

                    soloCoopToaster(power);

                } else if (modeSelected == 1) {

                    soloCoopToaster(bike2pwr + bike1pwr);

                } else if (modeSelected == 2) {

                    compToaster(bikeNo, power);

                } else if (modeSelected == 3) {

                    coopetToaster(bikeNo, power);

                };

            } else if (lvlselected == 3) {

                if (modeSelected == 0) {

                    soloCoopKettle(power);

                } else if (modeSelected == 1) {

                    soloCoopKettle(bike2pwr + bike1pwr);

                } else if (modeSelected == 2) {

                    compKettle(bikeNo, power);

                } else if (modeSelected == 3) {

                    coopetKettle(bikeNo, power);

                };

            }

            

        }
    }

    //Bulb games

    function soloCoopBulb(power) {

        bulbs = Math.ceil(power / 6);

        if (bulbPhase == 0) {

            srcImg = "{% static 'images/LED.PNG'%}";

            if (ledBulbs < bulbs) { ledBulbs = bulbs; }

        } else {

            srcImg = "{% static 'images/Filiment.PNG'%}";

            if (filBulbs < bulbs) { filBulbs = bulbs; }

        };

        if (curBulbs < bulbs) {


            for (i = curBulbs; i < bulbs; i++) {

                let newLed = document.createElement("img");
                newLed.id = i.toString() + "led";
                console.info(newLed.id);
                newLed.src = srcImg;
                document.getElementById("bulbs").appendChild(newLed);

            }

            curBulbs = bulbs;

        } else if (curBulbs > bulbs) {

            var delBulbs = curBulbs - bulbs;

            for (i = 1; i <= delBulbs; i++) {
                console.info((curBulbs - i).toString() + "led");
               document.getElementById((curBulbs - i).toString()+"led").remove();
                

            }

            curBulbs = bulbs;

        };


    }


// Code for games menu goes here

    function start() {

        document.getElementById("div test").style.display = "block";

        for (i = 1; i < 4; i++) {

            btnId = "Btn" + i.toString();
            console.info(btnId);
            document.getElementById(btnId).style.display = "block";

        }

        document.getElementById("Btn1").innerHTML = "Easy - Light Bulbs";
        document.getElementById("Btn2").innerHTML = "Hard - Toasting Bread";
        document.getElementById("Btn3").innerHTML = "Impossible - Boiling A Kettle";

        document.getElementById("Btn1").onclick = function () {
            lvlselected = 1;

            console.info("Selected: 1");
            selectBikes();
        };
        document.getElementById("Btn2").onclick = function () {
            lvlselected = 2;
            console.info("Selected: 2");
            selectBikes();
        };
        document.getElementById("Btn3").onclick = function () {
            lvlselected = 3;
            console.info("Selected: 3");
            selectBikes();
        };
    }

    function selectBikes() {

        document.getElementById("Btn3").style.display = "none";

        for (i = 1; i < 3; i++) {

            btnId = "Btn" + i.toString();
            console.info(btnId);
            document.getElementById(btnId).style.display = "inline";

        }

        document.getElementById("Btn1").innerHTML = "1";
        document.getElementById("Btn2").innerHTML = "2";

        document.getElementById("Btn1").onclick = function () {
            noBikes = 1;
            modeSelected = 0;
            console.info("Selected bikes: 1");
            startGame();

        };
        document.getElementById("Btn2").onclick = function () {
            noBikes = 2;
            console.info("Selected bikes: 2");
            selectMode();
        };
    };

    function selectMode() {

        for (i = 1; i < 4; i++) {

            btnId = "Btn" + i.toString();
            console.info(btnId);
            document.getElementById(btnId).style.display = "block";

        }

        document.getElementById("Btn1").innerHTML = "Co-operative";
        document.getElementById("Btn2").innerHTML = "Competitive";
        document.getElementById("Btn3").innerHTML = "Co-opetition - Same goals but competitive";

        document.getElementById("Btn1").onclick = function () {
            modeSelected = 1;

            console.info("Selected: co-op");
            dispInstructions();

            startGame();

        };
        document.getElementById("Btn2").onclick = function () {
            modeSelected = 2;

            console.info("Selected: comp");
        };
        document.getElementById("Btn3").onclick = function () {
            modeSelected = 3;

            console.info("Selected: co-opetition");
        };

    }

    function startGame() {

        console.info("game started");
        document.getElementById("div test").style.display = "none";

        if (lvlselected == 1) {

            document.getElementById("bulbs").style.display = "block";
            document.getElementById("timer").style.display = "block";
            document.getElementById("bulbFacts").style.display = "none";
            document.getElementById("bulbDescription").innerHTML = "How many LED bulbs can you power for 30 seconds?";
            ledBulbs = 0;
            filBulbs = 0;
            bulbPhase = 0;

            timeExp = new Date(Date.now() + 30 * 1000);

            //Level selected value of 2 is toaster game
        } else if (lvlselected == 2) {

            //todo add toaster

        } else if (lvlselected == 3) {

            //todo add kettle

        }
        
        inGame = true;


    }

    function dispInstructions() {

        document.getElementById("div test").style.display = "none";
        document.getElementById("divInstr").style.display = "block";

    }

    // timer function

    var x = setInterval(function () {
        
        // Get today's date and time
        var now = new Date().getTime();

        // Find the distance between now and the count down date
        var distance = timeExp - now;

        // Time calculations for minutes and seconds
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        try {
            document.getElementById("timer").innerHTML = seconds + "s ";
        } catch (e) {

        }
        // document.getElementById("timer").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
        // If the count down is finished, write some text
        if (inGame && bulbPhase == 0 && distance < 0) {
            try {
                document.getElementById("timer").style.display = "none";
            } catch (e) {

            }

            for (i = 0; i <= curBulbs; i++) {
                console.info(i.toString() + "led");
                try {
                    document.getElementById(i.toString() + "led").remove();
                } catch (e) {

                }

            };
            curBulbs = 0;
            bulbPhase = 1;
            document.getElementById("bulbDescription").innerHTML = "You managed to power " + ledBulbs + ", how many filiment bulbs can you now power?";

            timeExp = new Date(Date.now() + 5 * 1000);
            inGame = false;
        } else if (bulbPhase == 1 && distance < 0) {

            timeExp = new Date(Date.now() + 30 * 1000);
            document.getElementById("timer").style.display = "block";
            document.getElementById("bulbDescription").innerHTML = "How many Filiment bulbs can you power for 30 seconds?";
            bulbPhase += 1;
            inGame = true;

        } else if (inGame && bulbPhase == 2 && distance < 0) {
            try {
                document.getElementById("timer").innerHTML = "Time Expired";
            } catch (e) {

            }

            for (i = 0; i < curBulbs; i++) {
                console.info(i.toString() + "led");
                try {
                    document.getElementById(i.toString() + "led").remove();
                } catch (e) {

                }

            };
            curBulbs = 0;
            bulbPhase = false;

            document.getElementById("timer").style.display = "none";
            document.getElementById("bulbFacts").style.display = "block";

            document.getElementById("bulbDescription").innerHTML = "You managed to power " + ledBulbs + " LED Bulbs and " + filBulbs + " Filiment Bulbs";
            bulbPhase = 3;
            
            timeExp = new Date(Date.now() + 10 * 1000);
        } else if (inGame && bulbPhase == 3 && distance < 0) {

            document.getElementById("timer").style.display = "none";
            document.getElementById("bulbFacts").style.display = "none";
            document.getElementById("bulbs").style.display = "none";
            inGame = false;
            start();
        }
        
    }, 1000);



</script>